default_language_version:
  python: python3

ci:
  autofix_prs: true
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit suggestions'
  autoupdate_schedule: quarterly
  # submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=1024']
      - id: detect-private-key
      - id: forbid-new-submodules
      - id: pretty-format-json
        args: ['--autofix', '--no-sort-keys', '--indent=4']
      - id: end-of-file-fixer
      - id: mixed-line-ending
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.3.5
    hooks:
    -   id: ruff
        args:
        - --fix

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
        name: Upgrade code excluding monai networks
        exclude: |
          (?x)(
              ^versioneer.py|
              ^monai/_version.py|
              ^monai/networks/|  # no PEP 604 for torchscript tensorrt
              ^monai/losses/  # no PEP 604 for torchscript tensorrt
          )
      - id: pyupgrade
        args: [--py37-plus, --keep-runtime-typing]
        name: Upgrade monai networks
        files: (?x)(^monai/networks/)

  - repo: https://github.com/asottile/yesqa
    rev: v1.4.0
    hooks:
      - id: yesqa
        name: Unused noqa
        additional_dependencies:
          - flake8>=3.8.1
          - flake8-bugbear<=24.2.6
          - flake8-comprehensions
          - pep8-naming
        exclude: |
          (?x)^(
              monai/__init__.py|
              docs/source/conf.py|
              tests/utils.py
          )$

  - repo: https://github.com/hadialqattan/pycln
    rev: v2.4.0
    hooks:
      - id: pycln
        args: [--config=pyproject.toml]
