# Requirements for testing
-r requirements.txt
coverage
parameterized
pytorch-ignite==0.3.0
scipy
nibabel
pillow
tensorboard
scikit-image>=0.14.2
flake8>=3.8.1
flake8-bugbear
flake8-comprehensions
flake8-executable
flake8-pyi
mccabe
pep8-naming
pycodestyle
pyflakes
black
pytype>=2020.6.1
mypy
