amp: true
bundle_root: monai/apps/auto3dseg/algorithms/templates/dints
ckpt_path: $@bundle_root + '/model_fold' + str(@fold)
data_file_base_dir: /home/yuchengt/Downloads/MONAI-dev/monai/apps/auto3dseg/algorithms/templates/datasets/Task09_Spleen
data_list_file_path: /home/yuchengt/Downloads/MONAI-dev/monai/apps/auto3dseg/algorithms/templates/datasets/datafolds/msd_task09_spleen_folds.json
determ: false
finetune:
  activate: false
  pretrained_ckpt_name: $@bundle_root + '/model_fold' + str(@fold) + '/best_metric_model.pt'
fold: 0
infer:
  ckpt_name: $@bundle_root + '/model_fold' + str(@fold) + '/best_metric_model.pt'
  data_list_key: testing
  fast: false
  ouptut_path: $@bundle_root + '/prediction_' + @infer#data_list_key
input_channels: 1
learning_rate: 0.0002
loss:
  _target_: DiceCELoss
  batch: true
  include_background: true
  sigmoid: $not @softmax
  smooth_dr: 1.0e-05
  smooth_nr: 1.0e-05
  softmax: $@softmax
  squared_pred: true
  to_onehot_y: $@softmax
lr_scheduler:
  _target_: torch.optim.lr_scheduler.StepLR
  gamma: 0.5
  optimizer: $@optimizer
  step_size: $@num_iterations // 5
num_images_per_batch: 1
num_iterations: 20000
num_iterations_per_validation: 500
num_patches_per_image: 1
num_sw_batch_size: 2
optimizer:
  _target_: torch.optim.Adam
  lr: '@learning_rate'
output_classes: 2
overlap_ratio: 0.625
patch_size:
- 96
- 96
- 96
patch_size_valid:
- 96
- 96
- 96
softmax: true
validate:
  ckpt_name: $@bundle_root + '/model_fold' + str(@fold) + '/best_metric_model.pt'
  ouptut_path: $@bundle_root + '/prediction_fold' + str(@fold)
  save_mask: true
