---
# hyper-parameters
amp: true
bundle_root: null
ckpt_path: "$@bundle_root + '/model_fold' + str(@fold)"
data_file_base_dir: null
data_list_file_path: null
determ: false
fold: 0
input_channels: null
learning_rate: 0.025
num_images_per_batch: 2
num_iterations: 40000
num_iterations_per_validation: 500
num_patches_per_image: 1
num_sw_batch_size: 2
output_classes: null
overlap_ratio: 0.625
patch_size: null
patch_size_valid: null
softmax: true

# training
loss:
  _target_: DiceCELoss
  include_background: true
  to_onehot_y: "$@softmax"
  softmax: "$@softmax"
  squared_pred: true
  batch: true
  smooth_nr: 0.00001
  smooth_dr: 0.00001
optimizer:
  _target_: torch.optim.SGD
  lr: "@learning_rate"
  momentum: 0.9
  weight_decay: 0.00004
  params: "$@network.parameters()"
lr_scheduler:
  _target_: torch.optim.lr_scheduler.StepLR
  optimizer: "$@optimizer"
  step_size: "$@num_iterations // 5"
  gamma: 0.5

# fine-tuning
finetune:
  activate: false
  pretrained_ckpt_name: "$@bundle_root + '/model_fold' + str(@fold) + '/best_metric_model.pt'"

# validation
validate:
  ckpt_name: "$@bundle_root + '/model_fold' + str(@fold) + '/best_metric_model.pt'"
  save_mask: true
  ouptut_path: "$@bundle_root + '/prediction_fold' + str(@fold)"

# inference
infer:
  ckpt_name: "$@bundle_root + '/model_fold' + str(@fold) + '/best_metric_model.pt'"
  fast: false
  data_list_key: testing
  ouptut_path: "$@bundle_root + '/prediction_' + @infer#data_list_key"
