-f https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp37-cp37m-linux_x86_64.whl
torch>=1.5
pytorch-ignite==0.4.2
numpy>=1.17
itk
nibabel
parameterized
scikit-image>=0.14.2
tensorboard
commonmark==0.9.1
recommonmark==0.6.0
Sphinx==3.3.0
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinx-autodoc-typehints==1.11.1
