-f https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp37-cp37m-linux_x86_64.whl
torch>=1.6
pytorch-ignite==0.4.8
numpy>=1.17
itk>=5.2
nibabel
parameterized
scikit-image>=0.14.2
tensorboard
commonmark==0.9.1
recommonmark==0.6.0
Sphinx
pydata-sphinx-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinx-autodoc-typehints==1.11.1
pandas
einops
transformers
mlflow
tensorboardX
imagecodecs; platform_system == "Linux"
tifffile; platform_system == "Linux"
pyyaml
fire
jsonschema
pynrrd
