@import url('https://fonts.googleapis.com/css?family=Lekton:700|Roboto&display=swap');
body{font-family:'Roboto',sans-serif;}.wy-menu-vertical p.caption{color:#7cccc7;}
*{font-variant-ligatures: none;}.autoclasstoc td {padding:0.2rem;line-height:normal;}
dl.field-list>dt{word-break: normal}
